.container{
    margin-top: 30px;
}

.title{
    font-size:36px
}

.post{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer{
    flex: 1;
    height: 500px;
    position: relative;
}

.image{
    object-fit: cover;
}

.textContainer{
    flex:1
}