.container {
  margin-top: 30px;
}

.title {
  font-size: 36px;font-weight: 300;
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.postTitle {
  font-size: 40px;
}

.postDescription {
  font-size: 20px;
  font-weight: 300;
  color: var(--softRextColor);
}

.button{
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
}
 